@tailwind base;
@tailwind components;
@tailwind utilities;






@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .link-hover{
    font-weight: 500;
    color: white;
    border-color: transparent;
    border-bottom-width: 1px;
    transition: color 300ms ease-in-out, border 300ms ease-in-out, transform 300ms ease-in-out;

  }
  .link-hover:hover{
    transform: scale(1.2);
    color: #F39200;
    border-color: #F39200;
    border-bottom-width: 1px;

  }
}
