@tailwind base;
@tailwind components;
@tailwind utilities;






.embla {
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; /* Centraliza o carrossel */
}

.embla__container {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
}

.embla__slide {
  flex: 0 0 100%; /* Cada slide ocupa 90% da largura do contêiner */
  max-width: 100%; /* Limita a largura máxima do slide */
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  overflow: hidden;
  margin: 0 auto; /* Centraliza cada slide */
}

.embla__slide img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .embla__slide {
    min-width: 100%; /* Ocupa toda a largura disponível em telas menores */
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .link-hover{
    font-weight: 500;
    color: white;
    border-color: transparent;
    border-bottom-width: 1px;
    transition: color 300ms ease-in-out, border 300ms ease-in-out, transform 300ms ease-in-out;

  }
  .link-hover:hover{
    transform: scale(1.2);
    color: #F39200;
    border-color: #F39200;
    border-bottom-width: 1px;

  }
  .bg-gray-profile{
    background-color: #5C5C5C;
  }
  

}
